<h3 class="page-header">Add New Book</h3>

<form action="/books" method="POST">
    <%- include('./_form_inputs') %>

    <div class="btn-row form-row form-row-end">
        <a class="btn btn-danger" href="/books">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>    
    </div>
</form>