:root {
    --book-cover-width: 250px;
    --book-cover-width-large: 350px;
    --book-cover-aspect-ratio: 0.7;
}


.book-grid {
    display: grid;
    justify-content: center;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill,
            var(--book-cover-width));
}

.book-grid-large {
    grid-template-columns: repeat(auto-fill,
            var(--book-cover-width-large));
}

.book-cover {
    width: var(--book-cover-width);
    height: calc(Var(--book-cover-width)/var(--book-cover-aspect-ratio));
}

.book-cover-large {
    width: var(--book-cover-width-large);
    height: Var(--book-cover-width-large)/var(--book-cover-aspect-ratio);

}

.book-panels {
    display: grid;
    grid-template-columns: 2fr 5fr;
    column-gap: 2rem;
}

.book-details-panel-2 p {
    justify-content: flex-start;
    display: flex;
}

.book-details-panel-2 p strong {
    width: 150px
}