:root {
    --btn-border-color: black;
    --btn-primary-bg-color: hsl(var(--color-base-hue), 100%, 83%);
    ;
    --btn-primary-bg-color-dark: hsl(var(--color-base-hue), 100%, 73%);
    ;
    --btn-primary-text-color: hsl(var(--color-base-hue), 100%, 20%);
    ;
    --btn-danger-bg-color: hsl(var(--color-danger-hue), 100%, 83%);
    ;
    --btn-danger-bg-color-dark: hsl(var(--color-danger-hue), 100%, 73%);
    ;
    --btn-danger-text-color: hsl(var(--color-danger-hue), 100%, 20%);
    ;
}

.btn-row {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.btn-row>* {
    margin-left: 1rem;
}

.btn-row>*:first-child {
    margin-left: 0;
}

.btn {
    border: 1px solid var(--btn-border-color);
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
}

.btn-primary {
    color: var(--btn-primary-text-color);
    background-color: var(--btn-primary-bg-color);
}

.btn-primary:hover {
    background-color: var(--btn-primary-bg-color-dark);
}

.btn-danger {
    color: var(--btn-danger-text-color);
    background-color: var(--btn-danger-bg-color);
}

.btn-danger:hover {
    background-color: var(--btn-danger-bg-color-dark);
}