<body>
    <div>
        <h1 class="page-header">Top Authors</h1>
        <% authors.map(author =>{%>
        <p><%= author.name %></p>
        <% }) %>
    </div>

    <div>
        <h2 class="page-header"> Recently Added Books</h2>
        <%- include('./partials/bookGrid.ejs') %>
    </div>
</body>