@import './fragments/variables.css';
@import './fragments/buttons.css';
@import './fragments/header.css';
@import './fragments/form.css';


:root {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: var(--text-light)
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background: linear-gradient(to right, var(--bg-color-dark), var(--bg-color-light));
    margin-bottom: 5rem;
}

.main-container {
    max-width: 1200px;
    margin: auto;
}

.inner-container {
    margin: 0 2rem;
}

.page-header {
    font-weight: var(--page-title-font-weight);
    font-size: var(--page-title-font-size);
}