
<h3 class="page-header">About <%= author.name %></h3>

<div>
    <div class="btn-row">
        <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
        <%- include('../partials/deleteButton.ejs',{
            action_url:`/authors/${author._id}`
        }) %>
    </div>


    <div>
        <h4 class="page-header">Books by Author</h4>
        <%- include('../partials/bookGrid.ejs') %>
    </div>
</div>